

body
{
  display:flex;
  flex-direction:column;
  background-image:url("bugatti.jpg");
  background-size:cover;
}

main
{
  display:flex;
  flex-direction:row;
  flex:auto;
}
 article
 {
    flex:2;
    overflow-y: auto;
 }

 aside
 {
    flex:1;
    overflow-y: auto;
 }
